<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="IsAdminSite" value="1"/>
		<add key="enableSimpleMembership" value="false" />
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>

	<system.web>
		<customErrors defaultRedirect="invalidrequest.aspx" />
		<pages enableEventValidation="false" validateRequest="false" styleSheetTheme="" controlRenderingCompatibilityVersion="4.5">
			<controls>
				<add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
			</controls>
		</pages>
		<authorization>
			<allow roles="SuperAdmin,Admin"/>
			<deny users="*"/>
		</authorization>
	</system.web>

	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<clear/>
				<add value="default.aspx" />
			</files>
		</defaultDocument>
		<modules runAllManagedModulesForAllRequests="true"/>
		<handlers>
			<add name="TelerikSpellCheckHandler" path="Telerik.Web.UI.SpellCheckHandler.axd" verb="*" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI" />
			<add name="TelerikDialogHandler" path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI" />
			<remove name="ADNSFImpersonationHandler" />
			<remove name="ADNSFDashboardStatistics" />
			<add name="ADNSFImpersonationHandler" path="impersonationhandler.axd" verb="*" type="AspDotNetStorefront.ImpersonationHandler" />
			<add name="ADNSFDashboardStatistics" path="dashboardstatistics.axd" verb="*" type="AspDotNetStorefront.DashboardStatistics" />
		</handlers>
	</system.webServer>

	<location path="Scripts">
		<!--Needed to allow before login-->
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="skins">
		<!--Needed to allow access to gifs before login-->
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="App_Templates">
		<!--Needed to allow access to templates before login-->
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="order.aspx">
		<system.web>
			<httpRuntime requestValidationMode="2.0"/>
		</system.web>
	</location>
	<location path="product.aspx">
		<!-- allow html submits -->
		<system.web>
			<httpRuntime requestValidationMode="2.0"/>
		</system.web>
	</location>
	<location path="entity.aspx">
		<!-- allow html submits -->
		<system.web>
			<httpRuntime requestValidationMode="2.0"/>
		</system.web>
	</location>
	<location path="recurringimport.aspx">
		<!-- allow html submits -->
		<system.web>
			<httpRuntime requestValidationMode="2.0"/>
		</system.web>
	</location>
	<location path="salesprompts.aspx">
		<!-- allow html submits -->
		<system.web>
			<httpRuntime requestValidationMode="2.0"/>
		</system.web>
	</location>
</configuration>
