@model NotFoundViewModel

@{
	ViewBag.MetaTitle = Model.Title;
}

<div id="pnlTopic">
	@Html.Raw(@Model.Content)
</div>

<h3>@Html.StringResource("PageNotFound.SuggestionTitleMessage")</h3>

<div class="not-found-suggestions-wrap">
	@Html.EditorForMany(model => model.Suggestions, EditorTemplateNames.NotFoundSuggestion)
</div>
