<?xml version="1.0" encoding="utf-8" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package displayname="Lost Password Notification Email" version="2.1" debug="false">
	<query name="Customer" rowElementName="info">
		<sql>
			<![CDATA[
            select isnull(firstname + ' ' + lastname, '') Fullname from dbo.customer with (nolock) where customerid = @customerid
            ]]>
		</sql>
		<queryparam paramname="@customerid" paramtype="runtime" requestparamname="thiscustomerid" defvalue="0" sqlDataType="int" validationpattern="^\d{1,9}$"/>
	</query>
	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" encoding="ISO-8859-1" />
			<xsl:param name="StoreID" select="/root/Runtime/StoreID" />
			<xsl:template match="/">
				<html>
					<head>
						<title>
							<xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" disable-output-escaping="yes" /> - Password Reset
						</title>
					</head>
					<body>
						<div class="password-reset-header">
							<b>
								<xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" disable-output-escaping="yes" /> - Password Reset
							</b>
						</div>
						<div class="password-reset-main">
							<xsl:if test="aspdnsf:StrTrim(/root/Customer/info/Fullname)!=''">
								<xsl:value-of select="/root/Customer/info/Fullname" disable-output-escaping="yes" />, your
							</xsl:if><xsl:if test="aspdnsf:StrTrim(/root/Customer/info/Fullname)=''">Your</xsl:if> password has been reset.  The new password is:
						</div>
						<div class="password-reset-password">
							<xsl:value-of select="/root/Runtime/newpwd" disable-output-escaping="yes" />
						</div>
						<div class="password-reset-footer">
							The next time you login you will be required to change this password.  Login <a href="{aspdnsf:BuildRoute('signin', 'account', '', 'true')}" target="_blank">here</a>
						</div>
					</body>
				</html>
			</xsl:template>
		</xsl:stylesheet>
	</PackageTransform>
</package>
