@model OrderOptionViewModel

@{
	using(Html.BeginForm(
		actionName: ActionNames.OrderOption,
		controllerName: ControllerNames.CheckoutOrderOption,
		method: FormMethod.Post))
	{
		<div class="cart-upsell-items">
			@Html.EditorForMany(m => m.Options, EditorTemplateNames.OrderOptionItem)
		</div>
		<div class="checkout-action-row order-option-actions">
			<input type="submit" class="btn btn-default update-order-options-button" value="@Html.StringResource("checkout.saveorderoptions")" />
		</div>
	}
}
