<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="enableSimpleMembership" value="false" />
	<add key="autoFormsAuthentication" value="false" />
	<add key="EnableBundlingAndMinification" value="false" />
	<add key="EncryptKey" value="WhenInTheCourseOFHumanEvents" />
	<add key="TertiaryEncryptionKey" value="" />
	<add key="DBSQLServerLocaleSetting" value="en-US" />
	<add key="Telerik.AsyncUpload.TemporaryFolder" value="~/images" />

	<!-- The following two keys are used to display a site down for maintenance page.                                                                                -->
	<!-- Set SiteDownForMaintenance to true.                                                                                                                         -->
	<!-- MaintenanceAllowedIP lets you access your site while still displaying the maintenance page to customers.                                                    -->
	<!-- You can find your IP at http://www.whatismyip.com/  Example: 192.168.1.1                                                                                    -->
	<add key="SiteDownForMaintenance" value="false" />
	<add key="MaintenanceAllowedIP" value="192.168.1.1" />
</appSettings>
