<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<add name="DBConn" connectionString="data source=LAPTOPDELL\SQLEXPRESS;initial catalog=CaniGold;integrated security=SSPI;persist security info=True;packet size=4096" />
	<!--<add name="DBConn" connectionString="data source=DESKTOP-QQOLG5N\SQLEXPRESS;initial catalog=CaniGold;integrated security=SSPI;persist security info=True;packet size=4096" />-->
</connectionStrings>
